<div class='container'>
  <media-player class="canvas"
        tabindex="0"
        (mousemove)="mouseOver($event)"
        (click)="leftClick($event)"
        (contextmenu)="rightClick($event)"
        (mouseleave)="leaveCanvas()"></media-player>                
  <div *ngIf="mousePosition">
    <h3>Input</h3>
    <p>{{key}} : {{click}}</p>
    <p>ClientX: {{mousePosition.clientX}}</p>
    <p>ClientY: {{mousePosition.clientY}}</p>
    <p>OffsetX: {{mousePosition.offsetX}}</p>
    <p>OffsetY: {{mousePosition.offsetY}}</p>
  </div>
</div>

